body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}
.container{
    height: 500px;
    width: 400px;
    background: linear-gradient(to top, #56ccf2, #2f80ed);
    text-align: center;
    margin-left: 450px;
    margin-top: 40px;
    border: 2px solid black;
    border-radius: 25px;
    padding: 20px;
    box-sizing: border-box;
}
.serch{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.serch input{
    font-size: 17px;
    height: 35px;
    width: 250px;
    border: none;
    border-radius: 20px;
    padding-left: 15px;
}
.serch button{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: none;
    background-color: white;
    cursor: pointer;
}
.serch button img{
    height: 18px;
    width: 18px;
}
.pic img{
    height: 200px;
    margin-top: 30px;
}
.digre{
   font-size: 3rem; 
   color: white;
   margin-top: 10px;
}
.cityname{
    color: white;
    font-size: 1.7rem;
    margin-top: 5px;
}
.foot{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
    padding: 0 20px;
}
.hum, .wind{
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}
.hum img, .wind img{
    height: 35px;
    width: 35px;
}
.value{
    font-size: 18px;
    margin: 0;
}
.label{
    font-size: 14px;
    margin: 0;
}